:root {
  --pop-box-border-top-left-radius: 0.4em;
  --pop-box-border-top-right-radius: 0.4em;
  --pop-box-border-bottom-left-radius: 0.4em;
  --pop-box-border-bottom-right-radius: 0.4em;
  --pop-box-bg-color: #363535;
  --pop-box-fg-color: #f9f9f9;
  --pop-box-bg-color-opaque: rgba($bgcolor, 0.75);
  --pop-box-font-size: 0.8em;
  --pop-box-border-color: #262626;
  --pop-box-shadow-filter: drop-shadow(0em 0em 0.4em #979797);
  --pop-box-height: 5em;
  --pop-box-width: 12em;
  --pop-box-max-height: 10em;
  --pop-box-max-width: 26em;
  --pop-box-dir-size: 2.4em;
  --pop-box-border-size: 0.25em;
  --geo-marker-icon-caption-font-size: 1em;
  --geo-marker-icon-subcaption-font-size: 1em;
  --geo-marker-icon-image-size: 2em;
  --geo-marker-ino-font-size: 1.3em;
  --geo-box-border-top-left-radius: 1em;
  --geo-box-border-top-right-radius: 1em;
  --geo-box-border-bottom-left-radius: 1em;
  --geo-box-border-bottom-right-radius: 1em;
  --geo-box-border-size: 0.1em;
  --geo-box-border-color: #262626;
  --geo-box-shadow-filter: drop-shadow(0em 0em 0.4em #979797);
  /* Don't touch! */
  --pop-box-delta-height: calc((var(--pop-box-height) - var(--pop-box-dir-size) * 3) / 4);
  --pop-box-delta-width: calc((var(--pop-box-width) - var(--pop-box-dir-size) * 3) / 4);
}

.pop-box {
  position: absolute;
  width: var(--pop-box-width);
  height: var(--pop-box-height);
  max-width: var(--pop-box-max-width);
  max-height: var(--pop-box-max-height);
  filter: var(--pop-box-shadow-filter);
  border: var(--pop-box-border-size) solid var(--pop-box-border-color);
  border-top-left-radius: var(--pop-box-border-top-left-radius);
  border-top-right-radius: var(--pop-box-border-top-right-radius);
  border-bottom-left-radius: var(--pop-box-border-bottom-left-radius);
  border-bottom-right-radius: var(--pop-box-border-bottom-right-radius);
  background-color: var(--pop-box-bg-color);
}
.pop-box.opaque {
  background-color: var(--pop-box-bg-color-opaque);
  border: none;
}
.pop-box.opaque .dir,
.pop-box.opaque .info,
.pop-box.opaque .info > *:first-child {
  border: none;
  background-color: var(--pop-box-bg-color-opaque);
}
.pop-box.opaque .info,
.pop-box.opaque .info > *:first-child {
  border: none;
  background-color: transparent;
}
.pop-box .pop-info {
  background-color: var(--pop-box-bg-color);
  color: var(--pop-box-fg-color);
  font-size: var(--pop-box-font-size);
  z-index: 10;
  width: fit-content;
  height: inherit;
  overflow: auto;
  word-wrap: break-word;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  display: block;
  background-color: var(--pop-box-bg-color);
  padding: 0em 0.4em 0em 0.4em;
  border-top-left-radius: var(--pop-box-border-top-left-radius);
  border-top-right-radius: var(--pop-box-border-top-right-radius);
  border-bottom-left-radius: var(--pop-box-border-bottom-left-radius);
  border-bottom-right-radius: var(--pop-box-border-bottom-right-radius);
}
.pop-box .pop-dir {
  position: absolute;
  display: block;
  z-index: 20;
  transform-origin: center;
  background-color: var(--pop-box-border-color);
  width: var(--pop-box-dir-size);
  height: var(--pop-box-dir-size);
  clip-path: polygon(50% 25%, 0% 100%, 100% 100%);
}
.pop-box .pop-dir:after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--pop-box-bg-color);
  left: var(--pop-box-border-size);
  top: var(--pop-box-border-size);
  width: calc(var(--pop-box-dir-size) - var(--pop-box-border-size) * 2);
  bottom: calc(var(--pop-box-border-size) - var(--pop-box-border-size));
  clip-path: polygon(50% 25%, 0% 100%, 100% 100%);
}
.pop-box .pop-dir.top {
  top: calc(0em - var(--pop-box-dir-size));
}
.pop-box .pop-dir.top.pos-top-left {
  left: calc(var(--pop-box-delta-width) + 0.2em);
  transform: rotate(0deg);
}
.pop-box .pop-dir.top.pos-top-center {
  left: calc(var(--pop-box-delta-width) * 2 + var(--pop-box-dir-size));
  transform: rotate(0deg);
}
.pop-box .pop-dir.top.pos-top-right {
  left: calc(var(--pop-box-delta-width) * 3 + var(--pop-box-dir-size) * 2);
  transform: rotate(0deg);
}
.pop-box .pop-dir.right {
  display: block;
  right: 0em;
}
.pop-box .pop-dir.right.pos-right-top {
  top: var(--pop-box-delta-height);
  right: calc(-1 * var(--pop-box-dir-size));
  transform: rotate(90deg);
}
.pop-box .pop-dir.right.pos-right-center {
  top: calc(var(--pop-box-delta-height) * 2 + var(--pop-box-dir-size));
  right: calc(-1 * var(--pop-box-dir-size));
  transform: rotate(90deg);
}
.pop-box .pop-dir.right.pos-right-bottom {
  top: calc(var(--pop-box-delta-height) * 3 + var(--pop-box-dir-size) * 2);
  right: calc(-1 * var(--pop-box-dir-size));
  transform: rotate(90deg);
}
.pop-box .pop-dir.bottom {
  display: block;
  bottom: 0em;
}
.pop-box .pop-dir.bottom.pos-bottom-left {
  left: var(--pop-box-delta-width);
  bottom: calc(-1 * var(--pop-box-dir-size));
  transform: rotate(180deg);
}
.pop-box .pop-dir.bottom.pos-bottom-center {
  left: calc(var(--pop-box-delta-width) * 2 + var(--pop-box-dir-size));
  bottom: calc(-1 * var(--pop-box-dir-size));
  transform: rotate(180deg);
}
.pop-box .pop-dir.bottom.pos-bottom-right {
  left: calc(var(--pop-box-delta-width) * 3 + var(--pop-box-dir-size) * 2);
  bottom: calc(-1 * var(--pop-box-dir-size));
  transform: rotate(180deg);
}
.pop-box .pop-dir.left {
  display: block;
}
.pop-box .pop-dir.left.pos-left-top {
  top: var(--pop-box-delta-height);
  left: calc(-1 * var(--pop-box-dir-size));
  transform: rotate(-90deg);
}
.pop-box .pop-dir.left.pos-left-center {
  top: calc(var(--pop-box-delta-height) * 2 + var(--pop-box-dir-size));
  left: calc(-1 * var(--pop-box-dir-size));
  transform: rotate(-90deg);
}
.pop-box .pop-dir.left.pos-left-bottom {
  top: calc(var(--pop-box-delta-height) * 3 + var(--pop-box-dir-size) * 2);
  left: calc(-1 * var(--pop-box-dir-size));
  transform: rotate(-90deg);
}

.geo-map-viewer {
  position: relative;
  overflow: clip;
  filter: var(--geo-box-shadow-filter);
  border: var(--geo-box-border-size) solid var(--geo-box-border-color);
  border-top-left-radius: var(--geo-box-border-top-left-radius);
  border-top-right-radius: var(--geo-box-border-top-right-radius);
  border-bottom-left-radius: var(--geo-box-border-bottom-left-radius);
  border-bottom-right-radius: var(--geo-box-border-bottom-right-radius);
}
.geo-map-viewer .geo-map-canvas {
  position: absolute;
  top: 0em;
  left: 0em;
  width: 100%;
  height: 100%;
  border-top-left-radius: var(--geo-box-border-top-left-radius);
  border-top-right-radius: var(--geo-box-border-top-right-radius);
  border-bottom-left-radius: var(--geo-box-border-bottom-left-radius);
  border-bottom-right-radius: var(--geo-box-border-bottom-right-radius);
}
.geo-map-viewer .geo-marker {
  transform-origin: top left;
  position: absolute;
}
.geo-map-viewer .geo-marker .geo-icon {
  display: flex;
  align-items: center;
  filter: var(--pop-box-shadow-filter);
}
.geo-map-viewer .geo-marker .geo-icon .geo-icon-icon {
  font-size: var(--geo-marker-icon-image-size);
}
.geo-map-viewer .geo-marker .geo-icon .geo-icon-image {
  width: var(--geo-marker-icon-image-size);
  height: var(--geo-marker-icon-image-size);
}
.geo-map-viewer .geo-marker .geo-icon .geo-icon-caption {
  font-size: var(--geo-marker-icon-caption-font-size);
}
.geo-map-viewer .geo-marker .geo-icon .geo-icon-subcaption {
  font-size: var(--geo-marker-icon-subcaption-font-size);
}
.geo-map-viewer .geo-marker .geo-icon *:first-child {
  margin-right: 0.2em;
  padding-left: 0.2em;
}
.geo-map-viewer .geo-marker .geo-icon:hover {
  cursor: pointer;
}
.geo-map-viewer .geo-marker .geo-info {
  display: none;
  position: absolute;
  font-size: var(--geo-marker-ino-font-size);
}

/*# sourceMappingURL=geomap.css.map */
