// Copyright (c) 2023 Massimo Ghisalberti
//
// This software is released under the MIT License.
// https://opensource.org/licenses/MIT

@use "sass:math";
@use "sass:list";

:root {
  --pop-box-border-top-left-radius: 0.4em;
  --pop-box-border-top-right-radius: 0.4em;
  --pop-box-border-bottom-left-radius: 0.4em;
  --pop-box-border-bottom-right-radius: 0.4em;

  --pop-box-bg-color: #363535;
  --pop-box-fg-color: #f9f9f9;
  --pop-box-bg-color-opaque: rgba($bgcolor, 0.75);

  --pop-box-font-size: 0.8em;

  --pop-box-border-color: #262626;

  --pop-box-shadow-filter: drop-shadow(0em 0em 0.4em #979797);

  --pop-box-height: 5em;
  --pop-box-width: 12em;

  --pop-box-max-height: 10em;
  --pop-box-max-width: 26em;

  //--pop-box-width: 26em;
  --pop-box-dir-size: 2.4em;
  --pop-box-border-size: 0.25em;

  --geo-marker-icon-caption-font-size: 1em;
  --geo-marker-icon-subcaption-font-size: 1em;
  --geo-marker-icon-image-size: 2em;
  --geo-marker-ino-font-size: 1.3em;

  --geo-box-border-top-left-radius: 1em;
  --geo-box-border-top-right-radius: 1em;
  --geo-box-border-bottom-left-radius: 1em;
  --geo-box-border-bottom-right-radius: 1em;

  --geo-box-border-size: 0.1em;
  --geo-box-border-color: #262626;
  --geo-box-shadow-filter: drop-shadow(0em 0em 0.4em #979797);

  /* Don't touch! */
  --pop-box-delta-height: calc((var(--pop-box-height) - var(--pop-box-dir-size) * 3) / 4);
  --pop-box-delta-width: calc((var(--pop-box-width) - var(--pop-box-dir-size) * 3) / 4);
}

$content-padding: 0.4em;
$content-margin: 0.2em;
$content-margin-horiz: 0.4em;

@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

@function delta($size, $n, $div) {
  @return $size / $n;
}

@mixin reset-margin-block {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

@mixin border-radius-settings {
  border-top-left-radius: var(--pop-box-border-top-left-radius);
  border-top-right-radius: var(--pop-box-border-top-right-radius);
  border-bottom-left-radius: var(--pop-box-border-bottom-left-radius);
  border-bottom-right-radius: var(--pop-box-border-bottom-right-radius);
}

@mixin geo-border-radius-settings {
  border-top-left-radius: var(--geo-box-border-top-left-radius);
  border-top-right-radius: var(--geo-box-border-top-right-radius);
  border-bottom-left-radius: var(--geo-box-border-bottom-left-radius);
  border-bottom-right-radius: var(--geo-box-border-bottom-right-radius);
}

.pop-box {
  position: absolute;
  width: var(--pop-box-width);
  height: var(--pop-box-height);
  max-width: var(--pop-box-max-width);
  max-height: var(--pop-box-max-height);
  filter: var(--pop-box-shadow-filter);
  border: var(--pop-box-border-size) solid var(--pop-box-border-color);
  //overflow: clip;
  @include border-radius-settings;

  background-color: var(--pop-box-bg-color);

  &.opaque {
    background-color: var(--pop-box-bg-color-opaque);
    border: none;
    .dir,
    .info,
    .info > *:first-child {
      border: none;
      background-color: var(--pop-box-bg-color-opaque);
    }
    .info,
    .info > *:first-child {
      border: none;
      background-color: transparent;
    }
  }

  .pop-info {
    background-color: var(--pop-box-bg-color);
    color: var(--pop-box-fg-color);
    font-size: var(--pop-box-font-size);
    //position: absolute;
    z-index: 10;
    //top: var(--pop-box-border-size);
    //left: var(--pop-box-border-size);
    //bottom: var(--pop-box-border-size);
    //right: var(--pop-box-border-size);

    width: fit-content;
    height: inherit;
    overflow: auto;

    word-wrap: break-word;
    @include reset-margin-block;
    display: block;
    background-color: var(--pop-box-bg-color);
    padding: 0em $content-margin-horiz 0em $content-margin-horiz;
    @include border-radius-settings;
  }

  .pop-dir {
    position: absolute;
    display: block;
    //top: 0em;
    z-index: 20;
    transform-origin: center;
    //top: 0em + math.div(var(--pop-box-border-size), 2);
    //left: 0em;
    background-color: var(--pop-box-border-color);
    width: var(--pop-box-dir-size);
    height: var(--pop-box-dir-size);
    clip-path: polygon(50% 25%, 0% 100%, 100% 100%);

    &:after {
      content: "";
      display: block;
      position: absolute;
      background-color: var(--pop-box-bg-color);

      left: var(--pop-box-border-size);
      top: var(--pop-box-border-size);
      width: calc(var(--pop-box-dir-size) - var(--pop-box-border-size) * 2);
      bottom: calc(var(--pop-box-border-size) - var(--pop-box-border-size));
      clip-path: polygon(50% 25%, 0% 100%, 100% 100%);
    }

    &.top {
      $angle: 0deg;
      top: calc(0em - var(--pop-box-dir-size));
      &.pos-top-left {
        left: calc(var(--pop-box-delta-width) + 0.2em);
        transform: rotate($angle);
      }
      &.pos-top-center {
        left: calc(var(--pop-box-delta-width) * 2 + var(--pop-box-dir-size));
        transform: rotate($angle);
      }
      &.pos-top-right {
        left: calc(var(--pop-box-delta-width) * 3 + var(--pop-box-dir-size) * 2);
        transform: rotate($angle);
      }
    }
    &.right {
      $angle: 90deg;
      display: block;
      //left: unset;
      right: 0em;
      &.pos-right-top {
        top: var(--pop-box-delta-height);
        right: calc(-1 * var(--pop-box-dir-size));
        transform: rotate($angle);
      }
      &.pos-right-center {
        top: calc(var(--pop-box-delta-height) * 2 + var(--pop-box-dir-size));
        right: calc(-1 * var(--pop-box-dir-size));
        transform: rotate($angle);
      }
      &.pos-right-bottom {
        top: calc(var(--pop-box-delta-height) * 3 + var(--pop-box-dir-size) * 2);
        right: calc(-1 * var(--pop-box-dir-size));
        transform: rotate($angle);
      }
    }

    &.bottom {
      $angle: 180deg;
      display: block;
      bottom: 0em;
      &.pos-bottom-left {
        left: var(--pop-box-delta-width);
        bottom: calc(-1 * var(--pop-box-dir-size));
        transform: rotate($angle);
      }
      &.pos-bottom-center {
        left: calc(var(--pop-box-delta-width) * 2 + var(--pop-box-dir-size));
        bottom: calc(-1 * var(--pop-box-dir-size));
        transform: rotate($angle);
      }
      &.pos-bottom-right {
        left: calc(var(--pop-box-delta-width) * 3 + var(--pop-box-dir-size) * 2);
        bottom: calc(-1 * var(--pop-box-dir-size));
        transform: rotate($angle);
      }
    }

    &.left {
      $angle: -90deg;
      display: block;

      &.pos-left-top {
        top: var(--pop-box-delta-height);
        left: calc(-1 * var(--pop-box-dir-size));
        transform: rotate($angle);
      }
      &.pos-left-center {
        top: calc(var(--pop-box-delta-height) * 2 + var(--pop-box-dir-size));
        left: calc(-1 * var(--pop-box-dir-size));
        transform: rotate($angle);
      }
      &.pos-left-bottom {
        top: calc(var(--pop-box-delta-height) * 3 + var(--pop-box-dir-size) * 2);
        left: calc(-1 * var(--pop-box-dir-size));
        transform: rotate($angle);
      }
    }
  }
}

.geo-map-viewer {
  position: relative;
  overflow: clip;

  filter: var(--geo-box-shadow-filter);
  border: var(--geo-box-border-size) solid var(--geo-box-border-color);
  @include geo-border-radius-settings;

  .geo-map-canvas {
    position: absolute;
    top: 0em;
    left: 0em;
    width: 100%;
    height: 100%;
    @include geo-border-radius-settings;
  }

  .geo-marker {
    transform-origin: top left;
    position: absolute;
    .geo-icon {
      display: flex;
      align-items: center;
      filter: var(--pop-box-shadow-filter);
      .geo-icon-icon {
        font-size: var(--geo-marker-icon-image-size);
      }
      .geo-icon-image {
        width: var(--geo-marker-icon-image-size);
        height: var(--geo-marker-icon-image-size);
      }
      .geo-icon-caption {
        font-size: var(--geo-marker-icon-caption-font-size);
      }
      .geo-icon-subcaption {
        font-size: var(--geo-marker-icon-subcaption-font-size);
      }
      & *:first-child {
        margin-right: 0.2em;
        padding-left: 0.2em;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .geo-info {
      display: none;
      position: absolute;
      font-size: var(--geo-marker-ino-font-size);
    }
  }
}
