// Copyright (c) 2024 Massimo Ghisalberti
//
// This software is released under the MIT License.
// https://opensource.org/licenses/MIT

@import "popbox.scss";

//* { text-rendering: optimizeLegibility; }
//html.touch * { text-rendering: optimizeSpeed; }

$primary-color: #3498db;
$secondary-color: #e74c3c;


#map {
  //height: 50vh;
  //width: 50vw;
}

.geo-map-viewer {
  position: relative;
  left: 10em;
  top: 10em;
  width: 40em;
  height: 20em;
}

